@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/PZCommon.cshtml";
}
<script>
    function validate() {
        var name = document.getElementById("txt").value.trim();        var sub = document.getElementById("txtt").value.trim();
        var msg = document.getElementById("mssg").value.trim();
        var mob = document.getElementById("num").value.trim();        var spname = document.getElementById("spname");
        var spsub = document.getElementById("spsub");
        var spmob = document.getElementById("spmob");
        var spmsg = document.getElementById("spmsg");
                spname.innerHTML = "";        spsub.innerHTML = "";        spmob.innerHTML = "";        spmsg.innerHTML = "";        //for name validation...........        if (name.length == 0) {
            spname.innerHTML = "Please Enter Name.";
            status = false;
        }
        else if (name.length < 3) {
            spname.innerHTML = "Please enter a Valid name";
            status = false;
        }        //For Subject Validation.....        if (sub.length == 0) {
            spsub.innerHTML = "Please Enter Subject.";
            status = false;
        }
        else if (sub.length < 3) {
            spsub.innerHTML = "Please enter a Valid Subject";
            status = false;
        }        //For Number validation        if (mob.length == 0) {
            spmob.innerHTML = "Please  enter Mobile Number.";
            status = false;
        }
        else if (mob.length == 10) {
            var ch = mob.charCodeAt(0);
            if (ch >= 54 && ch <= 57) {

            }
            else {
                spmob.innerHTML = "Invalid Indian Mobile Number.";
                status = false;
            }
        }
        else {
            spmob.innerHTML = "Invalid mobile number.";
            status = false;
        }        //For validation of mssg.....        if (msg.length == 0) {
            spmsg.innerHTML = "Please Enter Subject.";
            status = false;
        }
        else if (msg.length < 3) {
            spmsg.innerHTML = "Please enter a Valid Subject";
            status = false;
        }        return status;
    }
</script>
<style>
    .rating {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .dv {
        min-height: 500px;
    }
    .sppp {
        font-size: 20px;
        font-weight: bold;
        margin-left: 4%;
        color:#c1c1c1;
    }
    .feed {
        font-size: 39px;
        margin-left: 4%;
        font-weight: bold;
        color: gray;
        font-family:'Microsoft Sans Serif';
        padding-bottom:5%;
    }
    .form-control {
        margin-top: 6%;
    }
    .spp {
        font-size: 18px;
        
    }
    .ch {
        margin-left: 10%;
        margin-top:8%;
    }
</style>
<div class="col-sm-12">
    <div class="col-sm-4 dv" style="padding-top:13%;">
        <span class="sppp">M</span><span class="sppp">U</span><span class="sppp">L</span><span class="sppp">T</span><span class="sppp">I</span>
        <span class="sppp">P</span><span class="sppp">U</span><span class="sppp">R</span><span class="sppp">P</span><span class="sppp">O</span>
        <span class="sppp">S</span><span class="sppp">E</span>
        <p class="feed">FEEDBACK FORM</p>
    </div>
    <div class="col-sm-4 dv" style="box-shadow:2px 2px 10px black;"><div class="row">
        <p style="background:#1896d1;color:white;padding:5%;font-size:25px;font-weight:bold;font-family:'Microsoft Sans Serif';" class="text-center">YOUR VALUABLE FEEDBACK</p></div>
        @Html.TextBox("name", null, new { placeholder="Enter Your Name", @class="form-control", id="txt", required="required"})<span id="spname" style="color:red"></span>
        @Html.TextBox("sub", null, new { placeholder="Enter Subject", @class="form-control", id="txtt", required="required"})<span id="spsub" style="color:red"></span>
        @Html.TextBox("mob", null, new { placeholder="Enter Your Moblie Number", @class="form-control", id="num", type="number"}) <span id="spmob" style="color:red"></span>
        @Html.TextArea("msg", new { placeholder="Enter Your Feedback", @class="form-control", id="mssg", style="resize:none", required="required"})<span id="spmsg" style="color:red"></span>
        <br />
        <img data-star="1" class="rating" src="~/Content/images/plain.png" />
        <img data-star="2" class="rating" src="~/Content/images/plain.png" />
        <img data-star="3" class="rating" src="~/Content/images/plain.png" />
        <img data-star="4" class="rating" src="~/Content/images/plain.png" />
        <img data-star="5" class="rating" src="~/Content/images/plain.png" />
        @Html.TextBox("hi", null, new { type="hidden", id="star"})
        <input type="button" value="Submit" id="btnn" onclick="return validate()" class="btn btn-info form-control"/>
    </div>
    <div class="col-sm-4 dv">
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">KSS - Gateway To Career</span></p>
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">KSS - A concept of Super-100</span></p> 
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">100% Placement Guarinty</span></p> 
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">Current Time IT Experts of MNC</span></p> 
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">Expertise on multiple technologies</span></p> 
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">4/6 Weeks Summer Training</span></p> 
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">6/7 Months Apprenticeship Training</span></p> 
        <p class="ch"><span style="color: #c1c1cd;" class="fa fa-check ico"></span> <span class="spp">Gateway To Career</span></p> 
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".rating").click(function () {
            var star = $(this).attr("data-star");
            $(".rating").each(function (x) {
                if (x < star) {
                    $(this).attr("src", "/Content/images/color.png");
                } else {
                    $(this).attr("src", "/Content/images/plain.png");
                }
            });
            $("#star").val(star);
        });
  
 
    ///TO SAve Review By Ajax
    $("#btnn").click(function () {
        var name,num, sub, msg, starrating;
        name = $("#txt").val();
        sub = $("#txtt").val();
        num = $("#num").val();
        msg = $("#mssg").val();
        starrating = $("#star").val();
        var mydata = { fname: name, subject: sub, numb: num, mssg: msg, star: starrating };
        $.getJSON("/Public/saveRev", mydata, function (res) {
            alert(res);
        });
    });
    });
</script>